body {
/*	background-image: url('../img/pomona.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	background-color: #8e44ad;
}

/* ------------------------------------------------------------------------------------*/

/*Home Page Stuff*/
#homepage_banner {
/*	background-color: #ff0;*/
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 15%;
}
#homepage_banner h1, #homepage_banner h2 a{
	font-weight: 300;
	color: #000;
	line-height: 40px;
}
#homepage_banner li {
	margin-right: 50px;
}

#homepage_search input {
	height: 43px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	width:100%;
	background-image:none; /*Disable blue box on click */

/* ------------------------------------------------------------------------------------*/