body {
/*	background-image: url('../img/pomona.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	background-color: #8e44ad;
}

/* ------------------------------------------------------------------------------------*/

/*Home Page Stuff*/
#homepage_banner {
/*	background-color: #ff0;*/
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 15%;
}
#homepage_banner h1, #homepage_banner h2 a{
	font-weight: 300;
	color: #000;
	line-height: 40px;
}
#homepage_banner li {
	margin-right: 50px;
}

#homepage_search input {
	height: 43px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	width:100%;
	background-image:none; /*Disable blue box on click */
}

#bkgImg {
	/*This is one of my photos used as a placeholder if needing an image*/
	/* fallback */
	background-color: #1a82f7;
	background: url("http://i.imgur.com/qsNgZwP.jpg") no-repeat center center fixed;
	background-size: cover;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 10%, 0% 100%, from(#1a82f7), to(#000000));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(bottom, #000000, #1a82f7);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(bottom, #000000, #1a82f7);

	/* IE 10 */
	background: -ms-linear-gradient(bottom, #000000, #1a82f7);

	/* Opera 11.10+ */
	background: -o-linear-gradient(bottom, #000000, #1a82f7);
}
/* ------------------------------------------------------------------------------------*/

/*background container for login page - rounding corners + bkg-color + outline-color*/
/*cool site for this: http://www.cssmatic.com/border-radius*/
#formContainer {
	margin-top: 200px;
	background-color: orange;
	border-radius: 35px 15px 35px 15px;
	-moz-border-radius: 35px 15px 35px 15px;
	-webkit-border-radius: 35px 15px 35px 15px;
	border: 0px solid #000000;
}

/* ------------------------------------------------------------------------------------*/

/*Side Nav*/
.sideNavEdits {
	margin-top: 200px;
	margin-left: 50px;
}




