{% extends 'header.html' %}

{% block content %}

<style type="text/css">

</style>

<script>
    
</script>
<!-- http://getbootstrap.com/css/ -->
<!-- Container > row > col must be immediate children to row's > -->
<!-- col-sm-3 col-sm-offset-3 etc. || -push-* & -pull-* -->

<div class="container sideNavMargins">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <!-- glyphicon glyphicon-chevron-right -->
                            <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">Category <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>Everything</td>
                                </tr>
                                <tr>
                                    <td>Apparel, Accessories</td>
                                </tr>
                                <tr>
                                    <td>Appliances</td>
                                </tr>
                                <tr>
                                    <td>Books</td>
                                </tr>
                                <tr>
                                    <td>Electronics</td>
                                </tr>
                                <tr>
                                    <td>Furniture</td>
                                </tr>
                                <tr>
                                    <td>Movies, Music, Games</td>
                                </tr>
                                <tr>
                                    <td>Tickets</td>
                                </tr>
                                <tr>
                                    <td>Other</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">Sort<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>Date: Newest First</td>
                                </tr>
                                <tr>
                                    <td>Price: Lowest First</td>
                                </tr>
                                <tr>
                                    <td>Price: Highest First</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        	<a class="accordian-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">Price<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>Anything</td>
                                </tr>
                                <tr>
                                    <td>&#60;$50</td>
                                </tr>
                                <tr>
                                    <td>$50 - $75</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&#62;$75</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end side Nav -->
        <!-- begin grid -->
        <div class="col-md-9">
            
            <!-- Page Content -->
            <div class="container">

                <div class="row">

                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a thumbnail for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placekitten.com/g/400/300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a cat for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a thumbnail for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placekitten.com/g/400/300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a cat for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placekitten.com/g/400/300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a cat for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a thumbnail for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placekitten.com/g/400/300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a cat for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a thumbnail for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a thumbnail for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placekitten.com/g/400/300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a cat for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a thumbnail for sale</b></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="http://placekitten.com/g/400/300" alt="">
                            <div class="caption text-center">
                                <p><b>This is not a cat for sale</b></p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    {% endblock %}

    <!-- Bug: Thumbnails go over the top of the footer // If remove footer, bkg gradient doesn't span full way unless thumbnails reach the bottom -->
    {% include 'foot.html' %}



