{% extends 'header.html' %}

{% block content %}

<div class="container">
  <div class = 'row' id = 'homepage_banner'> <!--homepage_banner just gives top margin -->
    <div class = 'col-md-12'>
      <h1>Feedback</h1>
      <p>We're always trying to improve on your experience</p>
      <p>If you'd like to contact us, please send feeback to buy5c@gmail.com</p>
      <p></p>
      <p>Any feedback is good feeback, thank you! </p>
    </div>
  </div>
</div> <!-- /container -->
{% endblock %}

{% include 'foot.html' %}