{% extends 'header.html' %}

{% block content %}

<div class="container">
  <div class = 'row' id = 'homepage_banner'> <!--homepage_banner just gives top margin -->
    <div class = 'col-md-9'>
	    <div class="well">
	      <h1>Feedback</h1>
	      <p>We're always trying to improve on your experience</p>
	      <p>If you'd like to contact us, please send feeback to buy5c@gmail.com</p>
	      <p></p>
	      <p>Any feedback is good feeback, thank you! </p>
	    </div>
	</div>
  </div>
  <div class="col-md-9">
        <div class="well">
            <h1>Hugh's todo for tomorrow:</h1>
            <ul>
            	<li>Work on grid layout for displaying results on this page. Browse browse browse time!</li>
            	<li>Figure out how to make div span entire page even if content isn't there. Gradient bkg bug</li>
            	<li>learn more about Bootstraps col-sd-# and col-md-# etc. to figure out how to make standalone bkg's for text</li>
                <li>learn about BS's prettify.js/css</li>
                <li>study more about JS and jQuery</li>
                <li>time to learn more about Flask and DB's - we're almost there!</li>
        	</ul>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}

{% include 'foot.html' %}