<div class="sidebar-container sideNavEdits">
  <div class="row">
    <div class="accordion box-nav span3" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Category
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            I like to ride my bike on the beach
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Sort
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            A pelican can eat more than my belly can
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Price
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse in">
          <div class="accordion-inner">
            I have a new kitten who acts like he is Napolean
          </div>
        </div>
    </div>
  </div>
</div>